html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* GLOBAL */



:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-dark-red: #991B1F;
    --color-grey: #D9D9D9;
    --color-dark-grey: #373334;
    --color-light-grey: #EAEAEA;


}

.container {
    max-width: 1310px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.section__subtitle {
    /* font-family: Geometr415 Blk BT; */
    font-family: Poppins;
    font-size: 64px;
    font-weight: 400;
    line-height: 76.72px;
    text-align: left;

}

.section__button {
    background-color: var(--color-dark-red);
    border-radius: 14px;
    color: var(--color-white);
    padding: 22px 63px;

    /* font-family: Geometr415 Blk BT; */

    font-size: 20px;
    font-weight: 400;
    transition: opacity .2s linear;
}

.section__button:hover {
    opacity: 0.8;
}

.section__button:focus {
    opacity: 0.8;
}


.section__button:active {
    opacity: 0.8;
}


/* header */

.header {
    padding-top: 57px;
    margin-bottom: -133px;
}

.header__container {
    display: flex;
}

.heder__logo {
    margin-right: 32px;
}

.header-case {
    height: 50%;
}

.header__box {
    margin-right: 76px;
}

.header__box-top {
    border-bottom: 1px solid var(--color-white);
}

.header__box-bottom {
    display: flex;
    align-items: flex-end;
}

.header__nav {
    display: flex;
    gap: 58px;
}

.header__nav-link {
    position: relative;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: var(--color-white);

}

.header__nav-link--array-one::before {
    position: absolute;
    content: '';
    left: 88px;
    top: 50%;
    width: 100%;
    height: 100%;
    background-image: url('../img/header-array.svg');
    background-repeat: no-repeat;

}

.header__nav-link--array-two::before {
    position: absolute;
    content: '';
    left: 99px;
    top: 50%;
    width: 100%;
    height: 100%;
    background-image: url('../img/header-array.svg');
    background-repeat: no-repeat;

}

.header__login-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 38px;
}

.header__login-link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: var(--color-white);
}

/* hero */

.hero {
    background-color: var(--color-black);
    background-image: url('../img/hero__img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    padding-top: 356px;
    padding-bottom: 300px;
}

.hero__content {
    position: relative;
    max-width: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.hero__descr {

    position: relative;
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: var(--color-white);
    padding: 0 52px;

}

.hero__descr::before {
    position: absolute;
    content: '';
    width: 36px;
    left: 0;
    top: 55%;
    height: 1px;
    background-color: var(--color-white);

}

.hero__descr::after {
    position: absolute;
    content: '';
    width: 36px;
    right: 0;
    top: 55%;
    height: 1px;
    background-color: var(--color-white);

}

.hero__img {
    margin-bottom: 18px;
}

.hero__title {
    /* font-family: Geometr415 Blk BT; */
    /* todo install font */
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 68px;
    font-weight: 400;
    line-height: 76px;
    text-align: center;
    color: var(--color-white);
    line-height: 89px;

}

.hero__title--decor {
    color: var(--color-dark-red);
}

.hero__button {
    background-color: var(--color-dark-red);
    border-radius: 45px;
    padding: 20px 29px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
    color: var(--color-white);
    transition: opacity .2s linear;
}

.hero__button:hover {
    opacity: 0.8;
}

.hero__button:focus {
    opacity: 0.8;
}

.hero__button:active {
    opacity: 0.8;
}

/* sevises */



.services {
    padding-top: 156px;
    background-color: var(--color-grey);
    padding-bottom: 97px;
}

.services__container {
    position: relative;
}

.advantages {
    display: flex;
    gap: 40px;
    position: absolute;
    top: -217px;
}

.advantage__item {
    width: 286px;
    height: 121px;
    background-image: url('../img/advantage-arrow.png');
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.advantages__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.advantages__underlined {
    font-size: 24px;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.advantages__content {
    text-align: center;
    width: 88px;
}

.servises__subtitle {
    color: var(--color-dark-red);
    margin-bottom: 82px;
}

.servisses-card {
    flex-shrink: 0;
    width: 386px;
    height: 491px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 42px 78px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.servisses-card__text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 800;
    line-height: 23.48px;
    color: var(--color-white);

}

.servises__list {
    display: flex;
    gap: 65px;
    margin-bottom: 102px;
}

.servises__item--1 {
    background-image: url('../img/servises-item-1.jpg');
}

.servises__item--2 {
    background-image: url('../img/servises-item-2.jpg');
}

.servises__item--3 {
    background-image: url('../img/servises-item-3.jpg');
}

.servises__item--4 {
    background-image: url('../img/servises-item-4.jpg');
}

.servises__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.servises__decor {
    width: 76%;
    height: 3px;
    background-color: var(--color-black);
}

/* destinations */

.destinations {
    background-color: var(--color-dark-grey);
    padding-top: 166px;
    padding-bottom: 154px;
    position: relative;
}

.destinations__subtitle {
    position: relative;
    z-index: 1000;
    color: var(--color-white);
    margin-bottom: 99px;
}


.destinations__decor-plain{
  position: absolute;  
  top: -81px;
  right: 0;
}

.destinations__decor-dots{
    position: absolute; 
    top: -511px;
}

.destinations__content {
    display: flex;
    align-items: center;

    margin-bottom: -50px;
}

.picture-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 135px;
}

.picture-box__descr {
    /* font-family: Geometr415 Blk BT; */
    color: var(--color-white);
    font-size: 64px;
    font-weight: 400;
    line-height: 76.72px;
    text-align: left;

}

.destinations__img {
    margin-bottom: 72px;
}


.destinations__descr {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 35.04px;
    text-align: justified;
    color: var(--color-white);
    width: 756px;

}

.destinations__bottom-bar {

    display: flex;
    justify-content: flex-end;
}

.destinations__nav {
    display: flex;
    gap: 101px;
}

.destinations__button {
    /* font-family: Geometr415 Blk BT; */
    font-size: 40px;
    font-weight: 400;
    line-height: 47.95px;
    text-align: left;
    color: var(--color-white);
    transition: color .2s linear;

}

.destinations__button:hover {
    color: var(--color-dark-red);
}

/* todo add pictures */

/* news */

.news {
    background-color: var(--color-grey);
    padding-top: 135px;
    padding-bottom: 54px;
}

.news__subtitle {
    text-transform: uppercase;
    color: var(--color-dark-red);
    margin-bottom: 131px;
}

.news__list {
    display: flex;
    gap: 85px;
    margin-bottom: 62px;
}

.news__item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 370px;
}

.news__img {
    width: 370px;
    height: 365px;
    margin-bottom: 17px;
}

.news__date {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: var(--color-dark-red);
    margin-bottom: 12px;
}

.news__descr {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: var(--color-dark-red);

}

.news__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.news__decor {
    width: 76%;
    height: 3px;
    background-color: var(--color-black);
}

/* footer */

.footer {
    background-image: url('../img/footer-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 79px;
}

.footer__container{
    border-bottom: 1px solid var(--color-white);
}

.footer__top {
    display: flex;
    justify-content: center;
}

.footer__top-wrapper {
    display: flex;
    width: 821px;

}

.footer__input-wrapper {
    flex-shrink: 01;
    width: 1156px;
    height: 52px;
}

.footer__descr {
    padding-left: 20px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    text-align: justified;
    color: var(--color-white);

}

.footer__subscribe-button {
    background-color: var(--color-light-grey);
    color: var(--color-dark-red);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

}

.footer__top {
    margin-bottom: 87px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-card__decor {
    background-color: var(--color-grey);
    width: 96px;
    height: 78px;

}

.footer-card__title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    margin-bottom: 30px;
    color: var(--color-white);
}

.footer-card__wrapper {
    display: flex;
}

.footer-card__list {
    padding-left: 10px;
}

.footer-card__item {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);

}

.footer__button {
    position: relative;
    margin-bottom: 10px;
    margin-right: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: var(--color-white);


}

.footer__button:after {
    position: absolute;
    padding-left: 24px;
    content: '';
    background-image: url('../img/footer-arrow.png');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    right: -25px;
    bottom: -2%;
}

.footer-button__wrapper{
    column-count: 2;
}

.footer__social{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.copyright-text{
    padding: 20px;

    margin-bottom: 10px;
    margin-right: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: var(--color-white);

}




@media (max-width: 1366px) {
    .servises__list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .news__list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}